/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", serif;  
    background-color: rgb(27,38,44);  
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: rgb(50,130,184);
}

p {
    color: rgb(187,225,250);
}

/* Home */

#home {
    margin: 0;
    padding: 0;
    display: inline;
}

/* Transitions */ 

a, .btn {
    transition: all 300ms ease;
}

/* Desktop Nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh; /* view height */
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: rgb(187,225,250);
    text-decoration: none;
    text-decoration-color: rgb(50,130,184);
}

a:hover {
    color:rgb(15,76,117);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(15,76,117);
}

.logo {
    font-size: 2rem;
    color: rgb(50,130,184);
}

.logo:hover {
    cursor: default;
}

/* Drop Down Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: rgb(187,225,250);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: rgb(27,38,44);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(187,225,250);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    list-style: none;
}

.menu-links.open {
   max-height: 300px; 
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* Sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.profile-pic {
    border-radius: 50%;
}

.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}
.section_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: rgb(50,130,184);
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    background-color: rgba(187, 225, 250);
}

/* Icons */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(15,76,117) 0.1rem solid;
    color: rgb(187,225,250);
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-2:hover {
    background: rgb(15,76,117);
    color: rgb(187,225,250);
}

.btn-color-1:hover {
    background: rgb(15,76,117);
    border: white 0.1rem solid;
}

.btn-color-2, .btn-color-1 {
    background: none;
}

.btn-color-2:hover {
    border: white 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* About Section */

#about {
   position: relative; 
}

.about-containers {
    gap: 1rem;
    /*margin-bottom: 1rem;*/
    margin-top: 1rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
    justify-content: center;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

/*.about-arrow {
    bottom:0rem;
}*/

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: rgb(27,38,44);
    border-radius: 2rem;
    border:rgb(15,76,117) 0.1rem solid;
    border-color: rgb(15,76,117); 
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.text-container {
    text-align: center;
}

/* Skills */ 

#skills {
    position: relative;
}

.skils-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skill-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.article-container:has(:only-child) {
   display: flex;
   text-align: initial;
   flex-wrap: wrap; 
   flex-direction: row;
   gap: 2.5rem;
   justify-content: center;
}

.article-container:has(:only-child) > * {
    width: auto; 
    max-width: 50%; 
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

.skill-icon {
    height: 3rem;
    transition: 0.3s ease-in-out;
}

.cplusplus-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px  rgba(0,134,212,0.8));
}
.c-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px  rgba(92,107,192,0.8));
}
.html-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px  rgba(230,81,0,0.8));
}
.css-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px  rgba(2,119,189,0.8));
}
.vs-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px  rgba(2,119,189,0.8));
}
.clion-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px  rgba(34,215,137,0.8));
}
.git-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px  rgba(244,81,30,0.8));
}

/* Projects */

#projects {
    position: relative;
}

.color-container {
    border-color: rgb(27,38,44);
    background: rgb(27,38,44);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: rgb(50,130,184);
}

.project-btn {
    color: rgb(187,225,250);
    border-color: rgb(15,76,117);
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(15,76,117) 0.1rem solid;
    border-color: rgb(15,76,117);
    background: rgb(27,38,44);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.comtact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
   height: 2.5rem; 
}

/* Footer */ 

footer {
    height: 26vh;
    margin: 0 1rem;
}